<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
        <mat-card fxFlex="400px" fxFlex.xs="100%">
            <mat-card-title fxLayoutAlign="center">Tempo para comeceçar</mat-card-title>
            <mat-card-content>

                <mat-form-field>
                    <mat-select placeholder="Escolha um exercicio" ngModel name="exercice" [required]>
                        <mat-option *ngFor="let exercice of exercices | async" [value]="exercice.id">
                            {{exercice.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions >
                <button type="submit" [disabled]="f.invalid" color="primary"
                        mat-raised-button mat-button>Começar</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>