<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo"><a routerLink="/">Logo</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout class="menu-items">
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Cadastro </a></li>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login </a></li>
      <li *ngIf="isAuth$ | async"><a routerLink="/training">Treinos </a></li>
      <li *ngIf="isAuth$ | async"><a (click)="Onlogout()">Logout </a></li>
    </ul>


  </div>
</mat-toolbar>